<%= render 'shared/slajder' %>
<div class="row">
<%= render 'shared/left_sidebar' %>

<div class="col-lg-5 col-md-5">
<% provide(:title, 'PoÄetna') %>
  <li class="list-group-item" id="header-of-table-home">
    <span class="badge"></span>
    <h3 class="text-primary">Aktuelni Konkursi</h3>
  </li>
<div id="demo2" class="scroll-text">    
<ul class="list-group">
<% @konkursi_aktuelni.each do |konkurs| %>	
  <li class="list-group-item">
  <%= link_to link_substring(konkurs.ime), konkurs_path(konkurs) %>
  </li>
<% end %>
</ul>
</div>
  <li class="list-group-item" id="header-of-table-home">
<%= form_tag search_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do %>
<%= check_box_tag :status_ids, 1, true, :name => 'konkurs[status_ids][]', :style => 'visibility: hidden'%>
<%= submit_tag "SVI AKTUELNI KONKURSI", :class => 'btn btn-warning' %> 
<% end %>
  </li>
 <br /> 
  <li class="list-group-item" id="header-of-table-home">
    <span class="badge"></span>
    <h3 class="text-primary">Najavljeni Konkursi</h3>
  </li>
<div id="demoo2" class="scroll-text">    
<ul class="list-group">
<% @konkursi_najava.each do |konkurs| %>	
  <li class="list-group-item">
  <%= link_to link_substring(konkurs.ime), konkurs_path(konkurs) %>
  </li>
<% end %>
</ul>
</div>
  <li class="list-group-item" id="header-of-table-home">
<%= form_tag search_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do %>
<%= check_box_tag :status_ids, 2, true, :name => 'konkurs[status_ids][]', :style => 'visibility: hidden'%>
<%= submit_tag "SVI NAJAVLJENI KONKURSI", :class => 'btn btn-warning' %> 
<% end %> 	
  </li>
</div>
<%= render 'shared/right_sidebar' %>    
</div>       