<%= render 'shared/slajder' %>
<div class="row">
<%= render 'shared/left_sidebar' %>

<div class="col-lg-5">
<div class="well bs-component">
<legend>Ulogujte se</legend>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-group">
  	<%= f.label :email, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>
    </div>

  <div  class="form-group">
	<%= f.label :password, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      <% if devise_mapping.rememberable? -%>
      <label>
            <%= f.check_box :remember_me %> Zapamti me
      </label>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
  	<%= f.submit "Uloguj me", :class => 'btn btn-primary' %>
  </div>	
  </div>
<%= render "users/shared/links" %>  
<% end %>
</div>
</div>
<%= render 'shared/right_sidebar' %>   
</div>