<div class="col-lg-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">O NAMA</h1>
		</div>
		<div class="panel-body">
			<p class="text-primary">Portal Projekti.in.rs ima za cilj razvoj preduzetništva i povećanje korištenja EU fondova u Srbiji.</p>
			<p class="text-warning">Takodje Projekti.in.rs ima za cilj da poveća korištenja drugih dostupnih fondova za vaše projekte.</p>
			<p class="text-danger">Ovde možete pronaći konkurse koje raspisuje EU kao i konkurse iz zemlje.</p>
			<p class="text-success">Veliki procenat dostunih fondova ostaje neiskorišćen zbog nedovoljne informisanosti o dostupnosti fondova i postojećim izvorima finansiranja..</p>
			<p class="text-info">Mi će pokušati da vam pružimo relevantne inforacije o dostupnim fondovima i procedurama apliciranja.</p>
		</div>
	</div>
<% unless user_signed_in? %>
<div class="well bs-component">
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">Ulogujte se</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Registrujte se</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
<%= form_for(:user, :url => session_path(:user), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-group">
  	<h4><%= f.label "Email ili korisničko ime", :class => 'col-lg-10 col-lg-offset-0' %></h4>
    <div class="col-lg-11 col-lg-offset-0">
      <%= f.text_field :login, autofocus: true, :class => 'form-control input-lg' %>
    </div>
    </div>

  <div  class="form-group">
	<h4><%= f.label 'Lozinka', :class => 'col-lg-10 col-lg-offset-0' %></h4>
    <div class="col-lg-11 col-lg-offset-0">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg' %>
      <label>
            <%= f.check_box :remember_me %> Zapamti me
      </label>
    </div>
  </div>
  <div  class="form-group">
    <div class="col-lg-10 col-lg-offset-0">
      <%= f.submit "Uloguj me", :class => 'btn btn-primary btn-lg' %>
    </div>
  </div>
  <div  class="form-group">
    <div class="col-lg-10 col-lg-offset-0">
      <%= link_to "Zaboravili ste lozinku?", new_password_path(:user) %>
    </div>
  </div>  
<% end %>
  </div>
  <div class="tab-pane fade" id="profile"> 	
<%= form_for(:user, url: registration_path(:user), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-group">
  	<%= f.label :email, :class => 'col-lg-11' %>
    <div class="col-lg-11">
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>
    </div>
  <div class="form-group">
  	<%= f.label "Korisničko ime", :class => 'col-lg-11' %>
    <div class="col-lg-11">
      <%= f.text_field :username, autofocus: true, :class => 'form-control' %>
    </div>
  </div>
  <div  class="form-group">
	<%= f.label "Lozinka", :class => 'col-lg-11' %>
    <div class="col-lg-11">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>
  <div  class="form-group">
	<%= f.label "Potvrda lozinke", :class => 'col-lg-11' %>
    <div class="col-lg-11">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>  
  <div class="form-group">
  <div class="col-lg-11">
  	<%= f.submit "Kreiraj nalog", :class => 'btn btn-primary' %>
  </div>	
  </div>
<% end %>
</div>
</div>
</div>	
<% end %>		
</div>