<%= render 'shared/alerti' %>
<div class="row">
<%= render 'shared/left_sidebar_admin' %>
<div class="col-lg-9">
<div class="apple_pagination">
<%= will_paginate @korisnici %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
    </tr>
  </thead>
  <tbody>
    <% @korisnici.each do |korisnik| %>
      <tr>
        <td><%= korisnik.id %></td>
        <td><%= korisnik.email %></td>
        <td>	
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      korisnici_path(korisnik),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Da li ste sigurni?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
<div class="apple_pagination">
<%= will_paginate @korisnici %>
</div>
</div>
</div>