<% if current_user.try(:admin?) %>
<%= render 'shared/alerti' %>
<div class="row">
<%= render 'shared/left_sidebar_admin' %>
<div class="col-lg-9">
<div class="well bs-component">
<% if @konkursi.none? %>
<% @konkursi = Konkurs.all.paginate(:page => params[:page], :per_page => 12) %>
<h1>Nema rezultata vaše pretrage</h1>
<legend>Svi Konkursi <%= link_to t('.new', :default => t("helpers.links.new")),
		            new_konkurs_path,
		            :class => 'btn btn-primary dugmic' %></legend>
<% else %>
<legend>Konkursi <%= link_to t('.new', :default => t("helpers.links.new")),
		            new_konkurs_path,
		            :class => 'btn btn-primary dugmic' %></legend>
<% end %>
 
<div class="apple_pagination">
<%= will_paginate @konkursi %>
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Naziv konkursa</th>
      <th>Iznos</th>
      <th>Rok</th>
      <th>Otvaranje</th>
      <th>Izmeni</th>
      <th>Obriši</th>
    </tr>
  </thead>
  <tbody>
  	<% @konkursi.each do |konkurs| %>
    <tr>
      <td><%= konkurs.id %></td>
      <td><%= link_to konkurs.ime, konkurs_path(konkurs) %></td>
      <td><%= konkurs.iznos %></td>
      <td><%= konkurs.rok %></td>
	  <td><%= konkurs.otvaranje %></td>	
	  <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_konkurs_path(konkurs), :class => 'btn btn-mini' %>
	  </td>    
	  <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      konkurs_path(konkurs),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
	  </td> 
    </tr>
    <% end %>
  </tbody>
</table>
<div class="apple_pagination">
<%= will_paginate @konkursi %>
</div> 
</div>
</div>
</div>

<% else %>
<%= render 'shared/alerti' %>
<div class="row">
<div class="col-lg-9">
<div class="well bs-component">
<% if @konkursi.none? %>
<% @konkursi = Konkurs.all.paginate(:page => params[:page], :per_page => 12) %>
<h1>Nema rezultata vaše pretrage</h1>
<legend>Svi Konkursi</legend>
<% else %>
<legend>Konkursi</legend>
<% end %>
<div class="apple_pagination">
<%= will_paginate @konkursi %>
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Naziv konkursa</th>
      <th>Iznos</th>
      <th>Rok</th>
      <th>Otvaranje</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<div class="apple_pagination">
<%= will_paginate @konkursi %>
<%= @konkursi %>
</div> 
</div>
</div>
<%= render 'shared/right_sidebar' %>   
</div>
<% end %>